{% extends 'layouts/base-fullscreen.html' %}
{% load bootstrap4 %}
{% load crispy_forms_filters %}

{% block title %}Change password{% endblock %}
{% block stylesheets %}{% endblock stylesheets %}
{% block header_container %}{% endblock %}

{% block content %}
  <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary border-0 mb-0">
            <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-3">
                <h1>Change password</h1>
              </div>
            <div class="card-body px-lg-5 py-lg-5">
              <form method="post" class="form">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4 text-white">Change</button>
                  <a href="{% url 'users:profile' %}" class="btn btn-danger my-4">
                    Cancel
                  </a>
                </div>
              </form>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock javascripts %}
