{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

  <div class="header pb-6 d-flex align-items-center"
       style="min-height: 300px; background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row" style="white-space: nowrap">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-2 text-white">
            {{ display_name }}
          </h1>
          <p class="text-white mt-0 mb-5">
            {{ display_position }}
          </p>
          {% if object.id == request.user.id or request.user.role == "Supervisor" %}
            <a href="{% url 'users:worker-update' pk=worker.id %}?next={{ request.path }}"
               class="btn btn-neutral">Edit profile</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-4 order-xl-2">
        <div class="card card-profile">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                {% if object.photo %}
                  <img alt="Image placeholder"
                       src="{{ object.photo.url }}"
                       class="rounded-circle">
                {% else %}
                  <img alt="Image placeholder"
                       src="/static/img/default-user-avatar.png"
                       class="rounded-circle">
                {% endif %}
              </div>
            </div>
          </div>
          <div
              class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">
              {% if object.telegram != None %}
                <a href="https://t.me/{{ object.telegram }}"
                   class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon"><img
                      src="/static/img/icons/common/telegram.svg"
                      alt="Telegram logo"></span>
                  <span class="btn-inner--text">Telegram</span>
                </a>
              {% else %}
                <abbr title="The user did not provide his Telegram account">
                  <button class="btn btn-secondary btn-icon" disabled>
                    <span class="btn-inner--icon"><img
                        src="/static/img/icons/common/telegram.svg"
                        alt="Telegram logo"></span>
                    <span class="btn-inner--text">Telegram</span>
                  </button>
                </abbr>
              {% endif %}
              {% if object.email %}
                <a href="mailto:{{ object.email }}"
                   class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon"><img
                      src="/static/img/icons/common/email.svg"
                      alt="Email logo"></span>
                  <span class="btn-inner--text">Email</span>
                </a>
              {% else %}
                <abbr title="The user did not provide his email">
                  <button class="btn btn-secondary btn-icon" disabled>
                    <span class="btn-inner--icon"><img
                        src="/static/img/icons/common/email.svg"
                        alt="Email logo"></span>
                    <span class="btn-inner--text">Email</span>
                  </button>
                </abbr>
              {% endif %}
            </div>
          </div>
          <div class="card-body pt-0">
            <div class="text-center">
              <h2 class="h1">
                {{ object.username }}
              </h2>
              <div class="h3 mt-4">
                <i class="ni business_briefcase-24 mr-2"></i>{{ object.position }}
              </div>
              <div class="h5 mt-4">
                <i class="ni business_briefcase-24 mr-2"></i>Last activity:<br>
                {{ object.last_login }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card">
          <div class="card-body">
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Username</label>
                    <input type="text" id="input-username"
                           class="form-control" placeholder="Username"
                           value="{{ object.username }}" disabled>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email
                      address</label>
                    <input type="email" id="input-email" class="form-control"
                           placeholder="Email" value="{{ object.email }}"
                           disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">First
                      name</label>
                    <input type="text" id="input-first-name"
                           class="form-control" placeholder="First name"
                           value="{{ object.first_name }}" disabled>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Last
                      name</label>
                    <input type="text" id="input-last-name"
                           class="form-control" placeholder="Last name"
                           value="{{ object.last_name }}" disabled>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4"/>
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact
              information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label"
                           for="input-city">Phone number</label>
                    <input type="text" id="input-phone_number"
                           class="form-control"
                           placeholder="Phone number"
                           value="{{ object.phone_number }}" disabled>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-telegram">Telegram</label>
                    <input type="text" id="input-telegram"
                           class="form-control" placeholder="Telegram"
                           value="{{ object.telegram }}" disabled>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label"
                           for="input-email">Email</label>
                    <input type="text" id="input-email"
                           class="form-control" placeholder="Email"
                           value="{{ object.email }}" disabled>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4"/>
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">My projects</h6>
            <div class="pl-lg-4">
              {% if worker_projects or lead_projects %}
                <table class="table table-bordered mt-4">
                  <thead>
                  <tr style="width: 20rem"></tr>
                  </thead>
                  <tbody class="table-group-divider">
                  {% if worker_projects %}
                    <tr class="table-light">
                      {% for project in worker_projects %}
                        <td>
                          {% include 'includes/project_card_profile.html' %}
                        </td>
                        {% if forloop.counter|divisibleby:4 and not forloop.last %}
                          </tr>
                          <tr class="table-light">
                        {% endif %}
                      {% endfor %}
                  {% endif %}
                  {% if lead_projects %}
                    <tr class="table-light">
                      {% for project in lead_projects %}
                        <td>
                          {% include 'includes/project_card_profile.html' %}
                        </td>
                        {% if forloop.counter|divisibleby:4 and not forloop.last %}
                          </tr>
                          <tr class="table-light">
                        {% endif %}
                      {% endfor %}
                  {% endif %}
                  </tr>
                  </tbody>
                </table>
              {% else %}
                <p>There are no projects.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
