<div class="card mx-auto" style="width: 18rem;">
  <div class="card-header">
    <strong>
      {{ project.name }}
    </strong>
    <br>
    <strong>Status:</strong> {{ project.status }}
  </div>
  <div class="card-body">
    <h5 class="card-title">Describe</h5>
    <p class="card-text text-wrap">
      {{ project.description }}
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <b>Project lead:</b>
      <a href="{% url 'users:worker-detail' pk=project.project_lead_id %}">
        {% if project.project_lead_first_name and project.project_lead_last_name %}
          {{ project.project_lead_first_name }}
          {{ project.project_lead_last_name }}
        {% else %}
          {{ project.project_lead_username }}

        {% endif %}
      </a>
    </li>
    <li class="list-group-item">
      <b>Created:</b>
      {{ project.created_at|date:"M d, Y" }}
    </li>
    <li class="list-group-item">
      <b>Deadline:</b>
      {{ project.deadline }}
    </li>
    <li class="list-group-item">
      <b>Tasks in progress:</b>
      {{ project.tasks_in_progress_count }}
    </li>
    <li class="list-group-item">
      <b>Completed tasks:</b>
      {{ project.tasks_done_count }}
    </li>
    <li class="list-group-item">
      <a href="{% url 'projects:project-workers' project.id %}">
        <b>Responsible workers:</b> {{ project.responsible_workers_count }}
      </a>
    </li>
  </ul>
  <div
      class="card-body d-flex justify-content-center">
    <a href="{% url 'projects:project-detail' project.id %}" class="btn btn-outline-primary">Detail</a>
    {% if request.user.role == "Supervisor" %}
      <a href="{% url 'projects:update-project' project.id %}?next={{ request.path }}"
         class="btn btn-outline-warning">Edite</a>
    {% endif %}
  </div>
</div>