<div class="card" style="width: 20rem;">
  <ul class="list-group list-group-flush">
    <a href="{% url 'projects:task-detail' project.id task.id %}?next={{ request.path }}">
      <li class="list-group-item">
        <strong>{{ task.name }}</strong>
        <br>
        {{ task.status }}
      </li>
    </a>
    <li class="list-group-item">
      <strong>Priority:</strong> {{ task.priority }}
      <br>
      <strong>Type:</strong> {{ task.type }}
      <br>
      <strong>Created:</strong> {{ task.created|date:"Y, F j" }}
      <br>
      <strong>Deadline:</strong> {{ task.deadline|date:"Y, F j" }}
      <br>
      <strong>Last update:</strong> {{ task.updated|date:"Y, F j H:i" }}
    </li>
    <li class="list-group-item">
      <a href="{% url 'projects:task-detail' project.id task.id %}?next={{ request.path }}"
         class="btn btn-outline-primary">Detail</a>
      {% if request.user.role == "Supervisor" %}
        <a href="{% url 'projects:task-update' project.id task.id %}?next={{ request.path }}"
           class="btn btn-outline-warning">Edite</a>
      {% endif %}
      {% if request.user in project.responsible_workers.all %}
        {% include "includes/assign_task.html" %}
      {% endif %}
    </li>
  </ul>
</div>
